@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;700&display=swap');

*{
    background-color: #0f0f0f;
    color: white;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px ;
}

header nav h2 i {
    padding: 0 20px;  
}

header nav div i {
    padding: 0 30px;
    
}

#numeros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}

#Navegação {
    background-color: #fa1e4e;
}

header nav a {
    background-color: #fa1e4e;
}

header form {
    background-color: #fa1e4e;
}

#navbarTogglerDemo02 {
    background-color: #fa1e4e;
}

#expansão {
    background-color: #fa1e4e;
}

header a.navbar-brand {
    color: white; 
}

header .nav-link {
    color: white; 
}

header a.nav-link.active {
    color: white; 
}


#button-1 {
    background-color: transparent;
    border-radius: 7px;
}
   
#button-1:hover{
    background-color: #fa1e4e;
    color: #0f0f0f;
    transition: 0.5;
    opacity: 0.7;
    
}

#numero div {
    text-align: center;
}

#numero img {
    border: radius 50px;;
}

#descricao {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#descricao * {
    margin-bottom: 0;
}

#editar-perfil {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botao {
    width: 100%;
    border-radius: 5px;
    background:#fa1e4e;;
    padding: 6px 0px;
    font-weight: bolder;
    font-size: 16px;
    border: #fa1e4e solid 2px;
}

#foto-perfil{
    border-radius: 100px;
}

.header  {
    background-color: #fa1e4e;
}

.btn.btn-primary {
    background-color: #fa1e4e;
    border-radius: 7px;
}
.btn.btn-primary:hover{
    background-color: #fa1e4e;
    color: #0f0f0f;
    transition: 0.5;
    opacity: 0.7;
}